@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.header {
  @apply border p-2;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0.96) 30%,
    rgba(255, 255, 255, 0.94) 40%,
    rgba(255, 255, 255, 0.92) 50%,
    rgba(255, 255, 255, 0.9) 60%,
    rgba(255, 255, 255, 0.8) 70%,
    rgba(255, 255, 255, 0.7) 80%,
    rgba(255, 255, 255, 0.6) 90%,
    transparent 100%
  );
  height: 100%;
}

.footer {
  @apply border-2 p-2 mt-auto;
}
.img {
  @apply border-4 max-w-screen-sm;
}

.active {
  @apply font-bold text-white bg-black;
}

.heroName {
  animation: fadeIn 1s 0.5s forwards;
  opacity: 0;
}
.heroImage {
  animation: fadeIn 2s 1.5s forwards;
  opacity: 0;
}
.description {
  animation: fadeIn 3s 2.5s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* loading ------------------------------------------*/
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  width: 48px;
  height: 48px;
  border: 2px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}
.loader::after {
  border-color: #ffc727;
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
